.header {
  padding: 10px 0;
  border-bottom: 1px solid $color-endeavour;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: $color-white;

  &__content {
    display: flex;
    align-items: center;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    color: $color-endeavour;
    margin: 0 50px 0 0;

    svg {
      height: 60px;
      width: 170px;
    }
  }

  &__phone {
    color: $color-endeavour;
    font-size: 18px;
    line-height: 22px;
    margin: 0 30px 0 auto;
  }

  &__users-list {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 25px;
    display: flex;
    align-items: center;
  }

  &__users-link {
    padding: 0;
    border: none;
    display: flex;
    background-color: transparent;
    color: $color-endeavour;

    svg {
      height: 32px;
      width: 32px;
    }
  }
}
