.header {
  padding: 10px 0;
  border-bottom: 1px solid $color-endeavour;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: $color-white;
  $root: &;

  &--open {
    @include vp-1023 {
      background-color: $color-endeavour;
      border-color: rgba($color-white, 0.2);

      #{$root}__logo-link {
        color: $color-white;
      }

      #{$root}__phone {
        color: $color-endeavour;
      }

      #{$root}__users-link {
        color: $color-white;
      }

      #{$root}__burger {
        display: none;

        &--close {
          display: flex;
        }
      }

      .main-nav {
        display: flex;
        justify-content: center;
      }

    }
  }

  &__content {
    display: flex;
    align-items: center;
    
    @media (max-width: 1100px) {
      justify-content: space-between;
    }

  }

  &__logo-link {
    display: flex;
    align-items: center;
    color: $color-endeavour;
    margin: 0 50px 0 0;

    @media(max-width: 1150px) {
      margin: 0 20px 0 0;
    }
    svg {
      height: 60px;
      width: 170px;
    }
  }

  &__burger {
    display: none;

    @include vp-1023 {
      display: block;
    }
  }

  &__main-nav {
    margin: 0 20px 0 0;
  }

  &__phone {
    color: $color-endeavour;
    font-size: 18px;
    line-height: 22px;
    margin: 0 30px 0 auto;

    @media(max-width: 1120px) {
      font-size: 16px;
      line-height: 20px;
      margin: 0 15px 0 auto;
    }

    @include vp-1023 {
      display: none;
      margin: 0 0 0 auto;
    }
  }

  &__users-list {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center;

    @include vp-1023 {
      gap: 20px;
    }

    @include vp-767 {
      margin: 0 0 0 auto;
    }
  }

  &__users-link {
    padding: 0;
    border: none;
    display: flex;
    background-color: transparent;
    color: $color-endeavour;

    svg {
      height: 32px;
      width: 32px;

      @media (max-width: 1120px) {
        height: 25px;
        width: 25px;
      }

      @include vp-1023 {
        height: 32px;
        width: 32px;
      }
    }
  }

  &__burger {
    &--close {
      display: none;
    }
  }
}
